body{
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
ol,ul {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h4{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 356489 */
  src: url('http://at.alicdn.com/t/font_2rtbka4u9apuv7vi.eot');
  src: url('http://at.alicdn.com/t/font_2rtbka4u9apuv7vi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_2rtbka4u9apuv7vi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_2rtbka4u9apuv7vi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_2rtbka4u9apuv7vi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.ct {
    max-width: 1170px;
    min-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 100;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.navbar .ct .logo-content{
    color: #fed136;
    float: left;
    width: 300px;
    height: 50px;
    padding: 15px 15px;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
}

.navbar .ct .navbar-nav {
    float: right;
}
.navbar .ct .navbar-nav>li{
    float: left;
}
.navbar .ct .navbar-nav>li>a{
    color: #fff;
    font-size: 18px;
    position: relative;
    display: block;
    padding: 15px 15px;
}
.navbar .ct .navbar-nav>li>a:hover{
    color: #fed136;
}
header {
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}
header .ct {
    color: #fff;
    text-align: center;
}
header .ct .intro-text {
    padding: 300px 0 200px 0;
}
header .ct .intro-text > .intro-lead-in {
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
header .ct .intro-text > .intro-heading {
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-top: 50px;
}
header .ct .intro-text > .intro-btn{
    display: inline-block;
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 40px;
    text-decoration: none;
}
header .ct .intro-text > .intro-btn:hover {
    background-color: #f3c31e;
}
#services {
    padding: 150px 0;
}
#services .ct {
    text-align: center;
}
#services .ct .content{
    width: 33%;
    float: left;
    margin-top: 75px;
}
#services .ct .content>span {
    font-size: 112px;
    border-radius: 50%;
    color: #fff;
    background-color: #fed136;
}
#services .ct .content>h4{
    font-weight: 700px;
}
#services .ct .content>p{
    color: #777;
    line-height: 1.75;
}
#portfolio {
    padding: 100px 0;
    background-color: #f7f7f7;
}
#portfolio .item {
    width: 30%;
    float: left;
    margin: 0 10px 30px;
}
#portfolio .content {
    padding-left: 35px;
}
#portfolio .content .item>a>img {
    width: 100%;
}
#portfolio .content .title>h4 {
    font-size: 18px;
}
#portfolio .content .item > .title {
    padding: 15px;
    background-color: #fff;
}
#portfolio .content a{
    width: 100%;
    display: inline-block;
    position: relative;
}
#portfolio .content .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(254,209,54,.9);
    opacity: 0;
    color: #fff;
    transition: .6s; 
}
#portfolio .content .cover:hover {
    opacity: .9;
}
.cover i{
    width: 120px;
    height: 120px;
    font-size: 120px;
    display: block;
    margin: 0 auto;
    padding: 40px 0;
}
.timeline {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.about {
    padding: 100px 0;
}
.about>h1,.title>h4 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
.about .subtitle, .title .subtitle {
    text-align: center;
    font-style: italic;
    color: #777;
}
.timeline li {
    text-align: center;
    position: relative;
    padding: 0 0 125px 0;
}
.timeline li::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #f1f1f1;
    height: 100%;
    z-index: -1;
}
.timeline > li:last-child {
    padding: 0;
}
.timeline img {
    width: 156px;
    border-radius: 50%;
    border: 7px solid #f1f1f1;
}
.timeline li .summary h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
}
.timeline .summary {
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: 95px;
    width: 30em;
    text-align: right;
}
.timeline > li:nth-child(even) > .summary {
    left: 50%;
    margin-left: 95px;
    text-align: left;
}
.timeline li:last-child {
    border: 7px  solid #f1f1f1;
    width: 156px;
    height: 156px;
    background-color: #fed136;
    margin: 0 auto;
    border-radius: 50%;
}
.timeline li:last-child > h4 {
    margin-top: 40px;
    color: #fff;
    line-height: 26px;
}

#team {
    padding: 100px 0;
    background-color: #f7f7f7;
}
#team .team-member {
    width: 33.3%;
    float: left;
    text-align: center;
}
#team .content {
    padding-top: 80px;
}
#team .team-member>img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 7px solid #fff;;
}
#team .team-member h4{
    margin-top: 20px;
}
#team .team-member p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #777;
    line-height: 1.75;
}
#team .team-member ul{
    text-align: center;
    margin-bottom: 40px;
}
#team .team-member ul>li,footer .ft-content ul>li{
    display: inline-block;
}
#team .team-member ul>li>a>i,footer .ft-content ul>li>a>i{
    margin-left: 10px;
    color: black;
    font-size: 45px;
}
#team .team-member ul>li>a>i:hover,footer .ft-content ul>li>a>i:hover{
    color: #fed136;
    transition: .6s;
}
#team .text-footer {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
    color: #777;
    font-size: 16px;
    line-height: 1.75; 
}
#clients .logo {
    width: 25%;
    float: left;
    margin: 50px auto;
    text-align: center;
}

#contact {
    background-color: #222;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
}
#contact .title{
    color: #fff;
}
#contact .content .info{
    width: 50%;
    float: left;
}
#contact form {
    margin-top: 100px;
}
#contact form .info .formgroup{
    margin-bottom: 30px;
}
#contact form .info .formgroup:last-child {
    margin-bottom: 0;
}
#contact form .info .formgroup>input {
    padding: 20px;
    width: 80%;
}
#contact form .message {
    width: 50%;
    float: left;
}
#contact form .message textarea{
    padding: 20px;
    height: 205px;
    width: 100%;
}
#contact .submit {
    text-align: center;
}
#contact .intro-btn {
    display: inline-block;
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 40px;
    text-decoration: none;
    margin-top: 50px;
}
#contact .intro-btn:hover{
    background-color: #f3c31e;
    transition: .6s;
}
footer{
    padding: 25px 0 0 0;
    text-align: center;
}
footer .ft-content {
    width: 33.3%;
    float: left;
}
footer .ft-content ul{
    margin: 0;
}
footer span,footer a {
    line-height: 67px;
}
footer .friendship-link{
    text-decoration: underline;
    color: #fed136;
    padding-right: 10px;
}
footer .friendship-link:hover{
    color: #f3c31e;
    transition: .6s;
}